.navbar{background-color: #FF6229;}
#navbar-dropdown{color: black;}
.dropdown-toggler{color: black;}
.navbar-toggler{border: none; color: black;}
.navbar-toggler > i{color: black;}
.navbar-toggler > span{color: black;}
.navbar-toggler-icon{color: black;}
.nav-link{padding-top: 4px; padding-bottom: 4px; padding-left: 0; padding-right: 0;}
.nav-link.cart-icon{width:60px; text-align: center;}
.dropdown-toggle{color: black;}
.dropdown-toggle > i{color: black;}
.navbar-nav.ml-auto.d-lg-none > li{margin-top: 5px; margin-bottom: 5px; text-align: right;}
.navbar-nav.ml-auto.d-lg-none > li > a{color: black; font-size: 120%;}
#navbarSupportedSearch form{display: inline-block;}
#search > .form-control{background-color: #FF6229;}
@media screen and (min-width:992px){ #navbarSupportedContent{max-width:50px;} }

hr{margin-bottom: 8px; margin-top: 0;}

.dropdown-item{padding: 5%; margin: 0;}
.dropdown-item-button{margin-top: 0; margin-bottom: 0; vertical-align: middle;}
.dropdown-item-button > a{color: black;}
.dropdown-menu{width: 200px;}
.dropdown-menu-notif{padding-top: 0;}

.carousel-item{filter: blur(5px); height: 400px; background-size: cover; background-position: center center;}
@media screen and (min-width:992px){ .carousel-item{height: 600px;}}
.carousel{width: 100%;}
#carousel-title{color: white; margin-left: 5%; margin-top: 250px; position: absolute; z-index: 1;}
@media screen and (min-width:992px){ #carousel-title{margin-top: 450px;}}
#carousel-title > h1{font-weight: bold;}

.card-image{max-height: 200px;}
.card-img-top{width: 100%; height: 200px; align-self: center;}
.card-img-top-event{width: 100%; height: 400px; align-self: center;}
.event-card{margin-top: 15px;}

#cardImg.card-img-top{height: 200px;}
.card{margin-bottom: 10px;}

#cardCollapse.card.row{margin-bottom: 0;}
#cardCollapse.card.row:nth-of-type(1){margin-top: 0;}
#rowCollapse{margin-top: 10px;}
#collapseButton{color: black; font-weight: bold; text-decoration: none; font-size: 80%;}
#collapseButton:hover{text-decoration: none;}
#collapseOne, #collapseTwo{margin-bottom: 20px;}

.btn-primary{background-color: #b30000; border: 1px #b30000 solid;}
.btn-primary:hover{background-color: orangered; border: 1px orangered solid;}
.btn-outline-primary{border: 1px #b30000 solid; color: #b30000;}
.btn-outline-primary:hover{background-color: #b30000; border: 1px #b30000 solid; color: #b30000; color: white;}

.card-header a{margin-left: 10px; font-size: 60%; color: black; font-weight: lighter;}

footer p{font-size: 75%; margin-left: 10px; font-weight: lighter;}
/*footer{position: absolute; bottom: 0;}*/

#loginLogo{max-width: 100%; max-height: 50%; text-align: center; margin-top: 10%;}
#loginHeader{text-align: center; font-size: 150%; font-weight: bold; margin-top: 15%;}
#loginSubheader{text-align: center; font-size: 100%; font-weight: lighter; margin-bottom: 10%;}
#loginSubheader a{text-decoration: underline;}
#loginForm, #registerForm{text-align: center;}
#registerForm p, #organizer-form p{text-align: right; margin-bottom: 1%; margin-top: 0;}

#username, #password, #password2, #firstname, #lastname, #country, #email, #birthdate, #region, #province, #city, #title, 
#eventDate, #eventTime, #about, #eventPic, #placeCode, #newCountry, #newRegion, #newProvince, #newCity, #newPlaceName,
#position1, #price1, #limit1, #position2, #price2, #limit2, #position3, #price3, #limit3, #oldpassword, #newpassword, #confirmpassword
    {padding: 2%; margin-top: 0; margin-bottom: 4%; width: 100%; border: 1px solid lightgrey;}
#submit{width: 100%; margin-top: 2%; padding: 2%; margin-bottom: 10%;}

#radioInput{text-align: left; margin-bottom: 4%; border: 1px solid lightgrey; padding: 2%;}

#search input{background-color: orangered; border: none; color: black; margin-left: 0; padding: 1%;}
#search input::placeholder{color: black;}

#logo{margin-top: 10%;}

b{font-weight: bold;}

.card .card-img-top{max-height: 300px; text-emphasis: center; vertical-align: center;}
@media screen and (min-width:768px){ .card .card-img-top{max-height:600px;} }

#eventList{list-style: none; padding-left: 0;}
#eventList > li{margin-left: 0;}
#eventList > li > p{display: inline-block; margin-left: 10px; vertical-align: center;}

#organizerTitle{text-align: center; font-size: 150%;}
#organizerTitle > h2{text-align: center; margin-top: 5%; margin-bottom: 5%; margin-left: 1%; margin-right: 1%;}
#organizerButton{padding: 0; margin: 0; text-align: right;}
#organizerEventTitle{margin: 0; padding: 0; text-align: left; width: 82%;}
#organizerEventTitle > p{margin: 0;}
#newEventCol{text-align: center;}
#newEvent{width: 90%; margin-bottom: 8%;}
.item{margin-top: 10px; background-color: white; border: 1px solid lightgrey; padding: 15px; margin-left: 1%; margin-right: 1%;}

tr:nth-child(even){background-color: lightgrey;}
#empty-cart > ul{list-style: none; margin: 5%; padding: 5%; border: darkred solid 1px; border-radius: 5px; background-color: pink;}
#addToCart {background: grey;}

#new-event, #slot-list {list-style: none;}

#fa-minus{color: #b30000;}
#fa-minus:hover{color: white;}

#organizer-form-annulla{width: 48%;}

#number-type{height: auto; vertical-align: middle;}
#choose-category, #eventList{border: solid 1px lightgrey;}
#number-type1, #number-type2, #number-type3 {border: none;}

#new-event #slot-list {list-style: none;}
#no-style{list-style: none;}

.dropdown-notification{padding: 5%; margin-bottom: 8px; margin-top: 0;}
.notification, .info{margin-left: 1%; margin-right: 1%; margin-top: 10px; border: 1px solid lightgrey; background-color: white;}
.notification > div{vertical-align: middle; text-align: center; margin: 0; padding: 15px;}
.notification > div > p{vertical-align: middle; text-align: center; padding: 0; margin: 0;}
.notification > div > input{vertical-align: middle; text-align: center; padding: 0; margin: 0;}
.btn.btn-primary.notification-button{padding: 2%; padding-left: 10%; padding-right: 10%; display: inline-block;}

.title{text-align: center; margin-top: 30px; margin-bottom: 20px}

.info > div{vertical-align: middle; margin: 0; padding: 15px;}
.info > div > p{margin: 0; padding: 0;}

.accept{margin-top: 10px;}
.accept > div{text-align: right;}

span{color: black;}

.fa-download {cursor: pointer; padding: 0;}
.place {cursor:default;}
.place:hover{background-color: rgb(40, 61, 247); color: white;}
#showNewPlace{cursor: pointer;}

.disabled{border: none;}
