    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-bell:before { content: "\f101"; }
.flaticon-bookmark:before { content: "\f102"; }
.flaticon-briefcase:before { content: "\f103"; }
.flaticon-browser:before { content: "\f104"; }
.flaticon-browser-1:before { content: "\f105"; }
.flaticon-browser-2:before { content: "\f106"; }
.flaticon-browser-3:before { content: "\f107"; }
.flaticon-browser-4:before { content: "\f108"; }
.flaticon-checked:before { content: "\f109"; }
.flaticon-clock:before { content: "\f10a"; }
.flaticon-cloud-computing:before { content: "\f10b"; }
.flaticon-delete:before { content: "\f10c"; }
.flaticon-download:before { content: "\f10d"; }
.flaticon-favourite:before { content: "\f10e"; }
.flaticon-files:before { content: "\f10f"; }
.flaticon-folder:before { content: "\f110"; }
.flaticon-house:before { content: "\f111"; }
.flaticon-list:before { content: "\f112"; }
.flaticon-list-1:before { content: "\f113"; }
.flaticon-mail:before { content: "\f114"; }
.flaticon-menu:before { content: "\f115"; }
.flaticon-microphone:before { content: "\f116"; }
.flaticon-mouse:before { content: "\f117"; }
.flaticon-mute:before { content: "\f118"; }
.flaticon-navigation:before { content: "\f119"; }
.flaticon-navigation-1:before { content: "\f11a"; }
.flaticon-navigation-2:before { content: "\f11b"; }
.flaticon-next:before { content: "\f11c"; }
.flaticon-open-book:before { content: "\f11d"; }
.flaticon-padlock:before { content: "\f11e"; }
.flaticon-picture:before { content: "\f11f"; }
.flaticon-placeholder:before { content: "\f120"; }
.flaticon-play-button:before { content: "\f121"; }
.flaticon-play-button-1:before { content: "\f122"; }
.flaticon-refresh:before { content: "\f123"; }
.flaticon-refresh-1:before { content: "\f124"; }
.flaticon-right-arrow:before { content: "\f125"; }
.flaticon-settings:before { content: "\f126"; }
.flaticon-share:before { content: "\f127"; }
.flaticon-smartphone:before { content: "\f128"; }
.flaticon-sort-down:before { content: "\f129"; }
.flaticon-speedometer:before { content: "\f12a"; }
.flaticon-spider-web:before { content: "\f12b"; }
.flaticon-sunglasses:before { content: "\f12c"; }
.flaticon-target:before { content: "\f12d"; }
.flaticon-upload:before { content: "\f12e"; }
.flaticon-user:before { content: "\f12f"; }
.flaticon-volume:before { content: "\f130"; }
.flaticon-wind-rose:before { content: "\f131"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-bell: "\f101";
    $font-Flaticon-bookmark: "\f102";
    $font-Flaticon-briefcase: "\f103";
    $font-Flaticon-browser: "\f104";
    $font-Flaticon-browser-1: "\f105";
    $font-Flaticon-browser-2: "\f106";
    $font-Flaticon-browser-3: "\f107";
    $font-Flaticon-browser-4: "\f108";
    $font-Flaticon-checked: "\f109";
    $font-Flaticon-clock: "\f10a";
    $font-Flaticon-cloud-computing: "\f10b";
    $font-Flaticon-delete: "\f10c";
    $font-Flaticon-download: "\f10d";
    $font-Flaticon-favourite: "\f10e";
    $font-Flaticon-files: "\f10f";
    $font-Flaticon-folder: "\f110";
    $font-Flaticon-house: "\f111";
    $font-Flaticon-list: "\f112";
    $font-Flaticon-list-1: "\f113";
    $font-Flaticon-mail: "\f114";
    $font-Flaticon-menu: "\f115";
    $font-Flaticon-microphone: "\f116";
    $font-Flaticon-mouse: "\f117";
    $font-Flaticon-mute: "\f118";
    $font-Flaticon-navigation: "\f119";
    $font-Flaticon-navigation-1: "\f11a";
    $font-Flaticon-navigation-2: "\f11b";
    $font-Flaticon-next: "\f11c";
    $font-Flaticon-open-book: "\f11d";
    $font-Flaticon-padlock: "\f11e";
    $font-Flaticon-picture: "\f11f";
    $font-Flaticon-placeholder: "\f120";
    $font-Flaticon-play-button: "\f121";
    $font-Flaticon-play-button-1: "\f122";
    $font-Flaticon-refresh: "\f123";
    $font-Flaticon-refresh-1: "\f124";
    $font-Flaticon-right-arrow: "\f125";
    $font-Flaticon-settings: "\f126";
    $font-Flaticon-share: "\f127";
    $font-Flaticon-smartphone: "\f128";
    $font-Flaticon-sort-down: "\f129";
    $font-Flaticon-speedometer: "\f12a";
    $font-Flaticon-spider-web: "\f12b";
    $font-Flaticon-sunglasses: "\f12c";
    $font-Flaticon-target: "\f12d";
    $font-Flaticon-upload: "\f12e";
    $font-Flaticon-user: "\f12f";
    $font-Flaticon-volume: "\f130";
    $font-Flaticon-wind-rose: "\f131";