	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add:before { content: "\f100"; }
.flaticon-bell:before { content: "\f101"; }
.flaticon-bookmark:before { content: "\f102"; }
.flaticon-briefcase:before { content: "\f103"; }
.flaticon-browser:before { content: "\f104"; }
.flaticon-browser-1:before { content: "\f105"; }
.flaticon-browser-2:before { content: "\f106"; }
.flaticon-browser-3:before { content: "\f107"; }
.flaticon-browser-4:before { content: "\f108"; }
.flaticon-checked:before { content: "\f109"; }
.flaticon-clock:before { content: "\f10a"; }
.flaticon-cloud-computing:before { content: "\f10b"; }
.flaticon-delete:before { content: "\f10c"; }
.flaticon-download:before { content: "\f10d"; }
.flaticon-favourite:before { content: "\f10e"; }
.flaticon-files:before { content: "\f10f"; }
.flaticon-folder:before { content: "\f110"; }
.flaticon-house:before { content: "\f111"; }
.flaticon-list:before { content: "\f112"; }
.flaticon-list-1:before { content: "\f113"; }
.flaticon-mail:before { content: "\f114"; }
.flaticon-menu:before { content: "\f115"; }
.flaticon-microphone:before { content: "\f116"; }
.flaticon-mouse:before { content: "\f117"; }
.flaticon-mute:before { content: "\f118"; }
.flaticon-navigation:before { content: "\f119"; }
.flaticon-navigation-1:before { content: "\f11a"; }
.flaticon-navigation-2:before { content: "\f11b"; }
.flaticon-next:before { content: "\f11c"; }
.flaticon-open-book:before { content: "\f11d"; }
.flaticon-padlock:before { content: "\f11e"; }
.flaticon-picture:before { content: "\f11f"; }
.flaticon-placeholder:before { content: "\f120"; }
.flaticon-play-button:before { content: "\f121"; }
.flaticon-play-button-1:before { content: "\f122"; }
.flaticon-refresh:before { content: "\f123"; }
.flaticon-refresh-1:before { content: "\f124"; }
.flaticon-right-arrow:before { content: "\f125"; }
.flaticon-settings:before { content: "\f126"; }
.flaticon-share:before { content: "\f127"; }
.flaticon-smartphone:before { content: "\f128"; }
.flaticon-sort-down:before { content: "\f129"; }
.flaticon-speedometer:before { content: "\f12a"; }
.flaticon-spider-web:before { content: "\f12b"; }
.flaticon-sunglasses:before { content: "\f12c"; }
.flaticon-target:before { content: "\f12d"; }
.flaticon-upload:before { content: "\f12e"; }
.flaticon-user:before { content: "\f12f"; }
.flaticon-volume:before { content: "\f130"; }
.flaticon-wind-rose:before { content: "\f131"; }